<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ComunicadorCategories"
            android:exported="false"
            android:label="@string/title_activity_comunicador_categories"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".NavegationUtils"
            android:exported="false"
            android:label="@string/title_activity_navegation_utils"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.Verbos"
            android:exported="false"
            android:label="@string/title_activity_verbos"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".Nivel1"
            android:exported="false"
            android:label="@string/title_activity_nivel1"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorOficina"
            android:exported="false"
            android:label="@string/title_activity_comunicador_oficina"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorCalendario"
            android:exported="false"
            android:label="@string/title_activity_comunicador_calendario"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorClima"
            android:exported="false"
            android:label="@string/title_activity_comunicador_clima"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorTransporte"
            android:exported="false"
            android:label="@string/title_activity_comunicador_transporte"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorAnimales"
            android:exported="false"
            android:label="@string/title_activity_comunicador_animales"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorSalud"
            android:exported="false"
            android:label="@string/title_activity_comunicador_salud"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorAlimentos"
            android:exported="false"
            android:label="@string/title_activity_comunicador_alimentos"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorDeportes"
            android:exported="false"
            android:label="@string/title_activity_comunicador_deportes"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasComunicador.ComunicadorEscuela"
            android:exported="false"
            android:label="@string/title_activity_comunicador_escuela"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".Comunicador"
            android:exported="false"
            android:label="@string/title_activity_comunicador"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".Nivel3"
            android:exported="false"
            android:label="@string/title_activity_nivel3"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasNivel2.Pantalla5N2"
            android:exported="false"
            android:label="@string/title_activity_pantalla5_n2"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasNivel2.Pantalla4N2"
            android:exported="false"
            android:label="@string/title_activity_pantalla4_n2"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasNivel2.Pantalla3N2"
            android:exported="false"
            android:label="@string/title_activity_pantalla3_n2"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasNivel2.Pantalla2N2"
            android:exported="false"
            android:label="@string/title_activity_pantalla2_n2"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".pantallasNivel2.Pantalla1N2"
            android:exported="false"
            android:label="@string/title_activity_pantalla1_n2"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".Nivel2"
            android:exported="false"
            android:label="@string/title_activity_nivel2"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".SubirImagenes"
            android:exported="false"
            android:label="SubirImagenes"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".CrearCategoria"
            android:exported="false"
            android:label="CrearCategoria"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".NuevoAlumno"
            android:exported="false"
            android:label="@string/title_activity_nuevo_alumno"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".SeleccionNivel"
            android:exported="false"
            android:label="@string/title_activity_seleccion_nivel"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".EditAlumno"
            android:exported="false"
            android:label="@string/title_activity_nivel_seleccion"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".PerfilAlumnoPadre"
            android:exported="false"
            android:label="@string/title_activity_perfil_alumno_padre"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".DashboardProfe"
            android:exported="false"
            android:label="@string/title_activity_dashboard_padres"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".InfoAlumno"
            android:exported="false"
            android:label="@string/title_activity_info_alumno"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".InicioSesion"
            android:exported="false"
            android:label="@string/title_activity_inicio_sesion"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlumnosPaginaInicio"
            android:exported="false"
            android:label="@string/title_activity_alumnos_pagina_inicio"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".Bienvenido"
            android:exported="false"
            android:label="@string/title_activity_bienvenido"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Frontend" />
        <activity
            android:name=".DashboardPadres"
            android:exported="false"
            android:label="DashboardProfe"
            android:theme="@style/Theme.Frontend"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>